* {
  max-width: 1600px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  width: 1600px;
  color: white;
  overflow-x: hidden;
  overflow-y: auto;
}
.commonbuttonstyle {
  background: #00afdb;
  border: none;
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}
h2 {
  text-transform: uppercase;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 1px;
}
h5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 143%;
}
header {
  height: 95px;
  background-color: black;
}

.header__nav__ul {
  padding-top: 23px;
  margin-left: 30px;
  width: 625px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  margin: 0 auto;
}
.header__nav__ul li {
  text-align: center;
}

.your-life {
  background-image: url(./assets/header-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -290px;
  height: 649px;
}

.your-life h1 {
  font-size: 64px;
  letter-spacing: 4.5px;
  line-height: 76px;
  margin-left: 435px;
  padding-top: 135px;
}

.your-life h3 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  font-weight: 300;
  width: 500px;
  margin-left: 550px;
  margin-top: 22px;
}

.your-life button {
  width: 183px;
  height: 46px;
  margin-left: 707px;
  margin-top: 28px;
}

.your-life button:hover {
  border: 2px solid white;
  border-radius: 3px;
}

.your-life__social {
  display: flex;
  flex-direction: row;
  width: 170px;
  justify-content: space-between;
  margin-left: 715px;
  margin-top: 183px;
}

@keyframes rotatesoc {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.your-life__social img:hover {
  cursor: pointer;
  animation: 1s linear 0s normal none infinite running rotatesoc;
}

.rappresent {
  color: black;
  height: 722px;
}
.rappresent__container {
  width: 1062px;
  height: 582px;
  margin-top: 120px;
  margin-left: 268px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rappresent__container__sloganbox {
  width: 407px;
  height: 233px;
}
.rappresent__container img {
  height: 582px;
  width: 407px;
}
.rappresent__container h5 {
  margin: 20px 0 8px;
}
.rappresent button {
  width: 184px;
  height: 47px;
  margin-top: 20px;
}

.ourcommunity {
  height: 504px;
  background-color: #f5f6f7;
  color: black;
  overflow: hidden;
}

.ourcommunity__container {
  height: 284px;
  width: 1281px;
  padding-left: 269px;
  padding-top: 65px;
}
.ourcommunity__container__slogan {
  padding-top: 90px;
  width: 298px;
  flex-basis: 175px;
  height: 175px;
  text-align: center;
  float: left;
}
.ourcommunity__container__slogan h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  color: #373737;
}
.ourcommunity__container__slogan h5 {
  margin-top: 12px;
}

.ourcommunity__container__slogan img {
  padding-bottom: 16px;
}

.ourcommunity__container__gallery {
  white-space: nowrap;
  padding-left: 437px;
  padding-top: 15px;
}

.ourcommunity__container__gallery img {
  width: 407px;
  height: 244px;
  display: inline-block;
  margin-right: 25px;
}

.ourcommunity__container__gallery__switcher {
  padding-left: 536px;
  padding-bottom: 20px;
}

.implement {
  height: 842px;
  color: black;
}

.implement__container {
  display: flex;
  width: 953px;
  height: 582px;
  justify-content: space-between;
  margin-left: 269px;
  padding-top: 120px;
}

.implement__container__slogan {
  padding-top: 198px;
  width: 407px;
  height: 184px;
}

.implement__container__slogan h5 {
  margin-top: 21px;
  margin-bottom: 28px;
}

.implement__container__slogan button {
  width: 180px;
  height: 47px;
}

.subscribe {
  height: 598px;
  margin-bottom: 119px;
  background: linear-gradient(rgba(255, 0, 0, 0.45), rgba(255, 0, 0, 0.45)),
    url(./assets/bottom-background.jpg);
  background-position-y: -616px;
  background-position-x: -158px;
  background-repeat: no-repeat;
}

.subscribe__container {
  padding-top: 216px;
  margin-left: 596px;
  width: 406px;
  height: 104px;
}
.subscribe__container h2 {
  padding-bottom: 30px;
  padding-left: 15px;
}

.subscribe__container_input {
  width: 313px;

  padding-left: 23px;
  height: 40px;
  font-size: 14px;
  margin-right: -5px;
}

.subscribe__container button {
  padding: 12px 24px;
  margin-left: 0px;
}

.download {
  height: 468px;
  color: black;
}

.download__container {
  width: 483px;
  margin: 0 auto;
  text-align: center;
}
.download__container h2 {
  padding-bottom: 20px;
}
.download__container button {
  width: 188px;
  height: 50px;
  line-height: 370%;
  margin-top: 30px;
  margin-right: 12px;
  margin-left: 12px;

}
.download__container button img {
background: #009CC2;
float: right;
padding-top: 15px;
padding-bottom: 15px;
padding-right: 30px;
padding-left: 10px;
}

footer {
    height: 184px;
    background-color: #000000;
}